name: CI Pipeline

on:
  push:
    branches: [dev, feature/*]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run lint
      run: echo "Linting..."

    - name: Run tests
      run: echo "Testing..."

    - name: Docker build
      run: docker build -t app:ci ./docker
